@import 'bootstrap/scss/bootstrap';

// font size for small screens

html {
  font-size: 100%;
}

@media (max-width: 18.875em) {
  html {
    font-size: 5.5vw;
  }
}

// utility

.is-hidden {
  display: none !important;
}

.msg-bar {
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
  font-weight: normal;
  left: 0;
  line-height: 1.5;
  padding: 1rem;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 9999;
}
